.level-bar {
    position: relative;
    // width: 100%;
    width: max-content;
    color: #40F99B;
    font-family: "Orbitron", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 6px;
    font-style: italic;

    display: flex;
    justify-content: space-between;

    --aug-border: 1px;
    --aug-inset: 1px;
    --aug-border-bg: #40F99B;
    --aug-inset-bg: #40F99B;
    --aug-border-opacity: 0.8;
    --aug-inset-opacity: 0.8;

    .exp {
        width: 15px;
        height: 5px;
        background-color: #40F99B;
        box-shadow: 0 0 20px 0 rgba(249, 64, 240);
        animation: levelBarPulse 4s ease-in-out forwards;

        --aug-border: 5px;
        --aug-inset: 5px;

        // --aug-border-bg: gold;
        // --aug-inset-bg: gold;
    }

    .exp:nth-child(1) { animation-delay: 0s; }
    .exp:nth-child(2) { animation-delay: 0.1s; }
    .exp:nth-child(3) { animation-delay: 0.2s; }
    .exp:nth-child(4) { animation-delay: 0.3s; }
    .exp:nth-child(5) { animation-delay: 0.4s; }
    .exp:nth-child(6) { animation-delay: 0.5s; }
    .exp:nth-child(7) { animation-delay: 0.6s; }
    .exp:nth-child(8) { animation-delay: 0.7s; }
    .exp:nth-child(9) { animation-delay: 0.8s; }
    .exp:nth-child(10) { animation-delay: 0.9s; }
    .exp:nth-child(11) { animation-delay: 1.0s; }
    .exp:nth-child(12) { animation-delay: 1.1s; }
    .exp:nth-child(13) { animation-delay: 1.2s; }
    .exp:nth-child(14) { animation-delay: 1.3s; }
    .exp:nth-child(15) { animation-delay: 1.4s; }
    .exp:nth-child(16) { animation-delay: 1.5s; }
    .exp:nth-child(17) { animation-delay: 1.6s; }
    .exp:nth-child(18) { animation-delay: 1.7s; }
    .exp:nth-child(19) { animation-delay: 1.8s; }
    .exp:nth-child(20) { animation-delay: 1.9s; }
}

@keyframes levelBarPulse {
    0% {
        opacity: 0.3;
        box-shadow: 0 0 5px 0 rgba(64, 249, 155, 0.5);
    }
    50% {
        opacity: 0.5;
        box-shadow: 0 0 20px 0 rgba(64, 249, 155, 1);
    }
    100% {
        opacity: 1;
        box-shadow: 0 0 5px 0 rgba(64, 249, 155, 0.5);
    }
}
