.name {
    position: relative;
    width: 100%;
    height: 100%;

    .circle {
        position: absolute;
        bottom: 9px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        box-shadow: 0 0 10px 0 #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateZ(0);
        z-index: 3;

        .circle-glow {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 0 10px 0 #fff;
            animation: pulsing 3s ease-in-out infinite;
        }
    }

    .circle-line {
        position: absolute;
        bottom: 6px;
        left: 0;
        width: 84px;
        height: 100px;
        transform: rotate(-45deg);

        .line-0 {
            position: absolute;
            width: 46px;
            height: 31px;
            bottom: 45px;
            border-bottom: 3px solid #912f56;
            border-right: 3px solid #912f56;
        }

        .line-1 {
            position: absolute;
            width: 23px;
            bottom: 73px;
            border-bottom: 3px solid #912f56;
            left: 43px;
        }
    }

    .square {
        position: absolute;
        width: 34px;
        height: 34px;
        bottom: 58px;
        border: 1px solid #fff;
        left: 39px;
        transform: rotate(-45deg);

        box-shadow: 0 0 10px 0 #fff;

        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 1;


        .square-glow {
            width: 12px;
            height: 12px;
            background-color: #fff;
            box-shadow: 0 0 10px 0 #fff;
            animation: pulsing 3s ease-in-out infinite;
        }
    }

    .frame {
        position: absolute;
        width: 233px;
        height: 79px;
        left: 67px;
        bottom: 33px;


        .frame-top {
            position: absolute;
            width: 100%;
            height: 16px;
            left: 0;
            top: 0;

            .frame-1 {
                width: 83px;
                height: 13px;
                left: 10px;
                position: absolute;
                border-left: 1px solid #fff;
                border-bottom: 1px solid #fff;
                border-top: 1px solid #fff;
                --aug-border-bg: #fff;
            }

            .line-1 {
                width: 30px;
                height: 13px;
                left: 90px;
                position: absolute;
                border-left: 1px solid #fff;
                border-top: 1px solid #fff;
                --aug-border-bg: #fff;
            }

            .line-2 {
                width: 10px;
                height: 7px;
                border-top: 1px solid #fff;
                position: absolute;
                left: 90px;
            }

            .frame-2 {
                width: 47px;
                height: 7px;
                left: 99px;
                position: absolute;
                border-right: 1px solid #fff;
                border-bottom: 1px solid #fff;
                border-top: 1px solid #fff;
                --aug-border-bg: #fff;
                background-color: #f0265e;
            }

            .frame-3 {
                width: 113px;
                height: 7px;
                left: 87px;
                position: absolute;
                top: 11px;
                background-color: #fff;
            }
        }

        .frame-main {
            position: absolute;
            width: 100%;
            height: 42px;
            left: 0;
            top: 17px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            .text {
                font-size: 18px;
                text-align: center;
                line-height: 1;
                z-index: 1;
                letter-spacing: 1px;
                font-weight: bold;
                font-family: "Orbitron", sans-serif;
                text-transform: uppercase;
                font-style: italic;
                text-wrap: nowrap;
                color: #F6F7F8;
                text-shadow: rebeccapurple 0 0 10px;
                animation: nameAppear 1s ease-in-out 3.6s both;
            }

            .animation {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                padding-right: 25px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .arrow {
                    position: relative;
                    height: 30px;
                    animation: arrowFade 2s ease-in-out both;

                    .line-1 {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 26px;
                        height: 15px;
                        border-left: 1px solid #fff;
                        background-color: #fff;
                        --aug-border-bg: #fff;
                    }

                    .line-2 {
                        position: absolute;
                        top: 15px;
                        left: 0;
                        width: 26px;
                        height: 15px;
                        border-left: 1px solid #fff;
                        background-color: #fff;
                        --aug-border-bg: #fff;
                    }
                }
            }
        }

        .frame-bottom {
            position: absolute;
            width: 188px;
            height: 18px;
            left: -21px;
            bottom: -6px;

            .frame-1 {
                width: 58px;
                height: 18px;
                left: 1px;
                position: absolute;
                bottom: 0;
                background-color: rgb(145, 47, 86);
                z-index: 1;
            }

            .frame-2 {
                width: 42px;
                height: 7px;
                left: 53px;
                position: absolute;
                background-color: rgb(145, 47, 86);
                z-index: 1;
            }

            .frame-3 {
                width: 58px;
                height: 7px;
                left: 40px;
                position: absolute;
                background-color: rgb(145, 47, 86);
                z-index: 1;
                bottom: 0px;
                --aug-border-bg: #f0265e;
            }

            .frame-4 {
                width: 21px;
                height: 18px;
                left: 80px;
                position: absolute;
                background-color: rgb(145, 47, 86);
                z-index: 2;
            }

            .frame-5 {
                width: 101px;
                height: 6px;
                left: 96px;
                position: absolute;
                background-color: rgb(145, 47, 86);
                z-index: 1;
            }
        }
    }
}

@keyframes arrowFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes nameAppear {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pulsing {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
}
